@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');

html {
    width: 100%;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(100, 68, 10, 0.3);
}

#main {
    width: 100%;
    height: auto;
}

.is-title-font {
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.is-border-rounded {
    border-radius: 25px;
}

.is-dropdown-aligned {
    @media screen and (max-width: 1088px) {
        text-align: left;
        left: 20px;
    }
}

.is-pointer {
    cursor: pointer;
}

.is-mobile-like-screen-width {
    @media screen and (min-width: 1087px) {
        display: none;
    }
}

.is-mobile-top-5 {
    @media screen and (max-width: 630px) {
        position: relative;
        top: 5px;
    }
}

.is-color-grey {
    color: rgb(120, 120, 120);
}
.is-color-grey:hover {
    color: rgb(150, 150, 150);
}

.is-top-5 {
    position: relative;
    top: 5px;
}

.is-wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.is-stretched {
    width: 100%;
}

.navbar-link {
    color: rgb(150, 150, 150);
}
.navbar.is-dark .navbar-item.has-dropdown:hover .navbar-link, .navbar.is-dark .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: unset;
}
.is-input-navbar {
    color: rgb(150, 150, 150);
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(100, 100, 100);
}
.is-input-navbar::placeholder {
    color: rgb(100, 100, 100);
    opacity: 1;
}
.navbar-dropdown {
    background-color: rgb(50, 50, 50);
    border-top: unset;
}
.navbar-dropdown a {
    color: rgb(150, 150, 150);
}
.navbar-dropdown a:hover {
    color: rgb(200, 200, 200) !important;
    background-color: rgb(100, 100, 100) !important;
    @media screen and (max-width: 1087px) {
        background-color: rgb(50, 50, 50) !important;
    }
}
.navbar-menu {
    @media screen and (max-width: 1087px) {
        background-color: rgb(50, 50, 50);
    }
}

.about {
    width: 100%;
    height: auto;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    width: 100%;
    height: 10px;
    color: rgb(150, 150, 150);
    background-color: rgb(50, 50, 48);
}
.footer-frame {
    width: 100%;
}
.footer-content {
    text-align: center;
    top: 50%;
    transform: translate(-0%, -50%);
    @media screen and (min-width: 1194px) {
        transform: translate(-0%, 50%);
    }
}
.footer-content a {
    color: rgb(150, 150, 150);
}
.footer-content a:hover {
    color: rgb(200, 200, 200);
}

.framework-item {
    position: relative;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 530px;
    @media screen and (max-width: 546px) {
        width: 95%;
    }
}
.framework-item-image {
    width: 100%;
    height: 304px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.framework-item-about {
    margin-left: 20px;
    margin-right: 20px;
}
.framework-item-about-title {
    color: rgb(67, 91, 115);
    font-weight: bold;
    font-size: 1.5em;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.framework-item-about-hint {
    color: rgb(67, 91, 115);
    font-size: 0.9em;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}
.framework-item-about-tags {
    color: rgb(200, 200, 200);
    margin-bottom: 20px;
}
.framework-item-about-tags a {
    color: rgb(150, 150, 150);
}
.framework-item-about-tags a:hover {
    color: rgb(150, 150, 150);
    font-weight: bold;
}
.framework-item-full-user {
    margin-bottom: 15px;
    color: rgb(67, 91, 115);
    margin-left: 20px;
    margin-right: 20px;
}
.framework-item-full-user a {
    color: rgb(67, 91, 115);
    font-weight: bold;
}
.framework-item-full-user a:hover {
    color: rgb(76, 105, 134);
    font-weight: bold;
}
.framework-item-stats {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.framework-item-stats-stars {
    display: inline-block;
}
.framework-item-stats-views {
    display: inline-block;
    float: right;
}

.framework-item-full {
    position: relative;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    @media screen and (max-width: 768px) {
        width: 95%;
    }
}
.framework-item-full-image {
    width: 100%;
    height: 615px;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.framework-item-full-about {
    margin-left: 20px;
    margin-right: 20px;
}
.framework-item-full-about-title {
    color: rgb(67, 91, 115);
    font-weight: bold;
    font-size: 1.5em;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.framework-item-full-about-hint {
    color: rgb(67, 91, 115);
    font-size: 0.9em;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}
.framework-item-full-about-tags {
    color: rgb(200, 200, 200);
    margin-bottom: 20px;
}
.framework-item-full-about-tags a {
    color: rgb(150, 150, 150);
}
.framework-item-full-about-tags a:hover {
    color: rgb(150, 150, 150);
    font-weight: bold;
}
.framework-item-full-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 4px;
    background-color: rgb(230, 230, 230);
    color: rgb(67, 91, 115);
    font-family: monospace, sans-serif;
    font-size: 0.8em;
}
.framework-item-full-links {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.framework-item-full-stats {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.framework-item-full-stats-stars {
    display: inline-block;
}
.framework-item-full-stats-views {
    display: inline-block;
    float: right;
}
.framework-item-full-report {
    margin-top: 25px;
    padding: 20px;
}
.framework-item-full-report a {
    color: rgb(100, 100, 100);
}
.framework-item-full-report a:hover {
    color: rgb(100, 100, 100);
    text-decoration: underline;
}
.framework-submit-title {
    margin-top: 30px;
    padding: 10px;
    font-size: 2.5em;
    color: rgb(67, 91, 115);
}
.framework-submit-form {
    padding: 20px;
}
.framework-edit-title {
    margin-top: 30px;
    padding: 10px;
    font-size: 2.5em;
    color: rgb(67, 91, 115);
}
.framework-edit-form {
    padding: 20px;
}

.github {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 500px;
}
.github-title {
    color: rgb(67, 91, 115);
}
.github-infos {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.github-repo-active {
    color: rgb(45, 145, 45);
}
.github-repo-inactive {
    color: rgb(200, 0, 0);
}

.random-frameworks {
    margin-top: 65px;
    margin-bottom: 10px;
}
.random-frameworks-hint {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.5em;
    color: rgb(67, 91, 115);
}
.random-frameworks-none {
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
    color: rgb(100, 100, 100);
}

.reviews {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}
.reviews-hint {
    font-size: 2.5em;
    color: rgb(67, 91, 115);
}
.reviews-content {
    margin-top: 25px;
}
.review {
    margin-bottom: 25px;
    border-bottom: 1px solid rgb(150, 150, 150);
}
.review-header {
    position: relative;
}
.review-header-left {
    position: relative;
    display: inline-block;
}
.review-header-right {
    position: relative;
    display: inline-block;
    top: -15px;
}
.review-header-right-username a {
    color: rgb(50, 50, 50);
}
.review-header-right-username a:hover {
    color: rgb(50, 50, 50);
    text-decoration: underline;
}
.review-header-right-stars {
}
.review-content {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: monospace, sans-serif;
}
.review-footer {
    margin-top: 10px;
}
.review-footer-option {
    display: inline-block;
}
.review-footer-option a {
    color: rgb(150, 150, 150);
}
.review-footer-option a:hover {
    color: rgb(150, 150, 150);
    text-decoration: underline;
}
.review-star-color {
    color: rgb(179, 143, 23);
}

.flash {
    position: fixed;
    left: 20%;
    top: 105px;
    width: 50%;
    z-index: 3;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none;
}
.flash p {
    position: relative;
    margin: 10px;
    color: rgb(255, 255, 255);
}
.is-flash-error {
    background-color: rgb(255, 117, 117);
}
.is-flash-success {
    background-color: rgb(50, 202, 50);
}

.profile {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}
.profile-header {
    position: relative;
}
.profile-header-left {
    display: inline-block;
}
.profile-header-left img {
    border-radius: 50%;
}
.profile-header-right {
    position: relative;
    display: inline-block;
    top: -12px;
    margin-left: 10px;
}
.profile-bio {
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
}
.profile-footer {
    margin-top: 15px;
}
.profile-footer a {
    color: rgb(100, 100, 100);
}
.profile-footer a:hover {
    color: rgb(120, 120, 120);
}
.profile-framework-items-hint {
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 2.5em;
    color: rgb(67, 91, 115);
}

.page-content {
    margin-top: 30px;
    padding: 25px;
}