@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap);
html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(100, 68, 10, 0.3);
}

#main {
  width: 100%;
  height: auto;
}

.is-title-font {
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.is-border-rounded {
  border-radius: 25px;
}

@media screen and (max-width: 1088px) {
  .is-dropdown-aligned {
    text-align: left;
    left: 20px;
  }
}

.is-pointer {
  cursor: pointer;
}

.about {
  width: 100%;
  height: auto;
  padding: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  height: 10px;
  color: #969696;
  background-color: #323230;
}

.footer-frame {
  width: 100%;
}

.footer-content {
  text-align: center;
  top: 50%;
  transform: translate(0%, -50%);
}
@media screen and (min-width: 1194px) {
  .footer-content {
    transform: translate(0%, 50%);
  }
}

.framework-item {
  position: relative;
  display: inline-block;
  background-color: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 530px;
}
@media screen and (max-width: 546px) {
  .framework-item {
    width: 95%;
  }
}

.framework-item-image {
  width: 100%;
  height: 304px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.framework-item-about {
  margin-left: 20px;
  margin-right: 20px;
}

.framework-item-about-title {
  color: #435b73;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.framework-item-about-hint {
  color: #435b73;
  font-size: 0.9em;
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}

.framework-item-about-tags {
  color: #c8c8c8;
  margin-bottom: 20px;
}

.framework-item-stats {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.framework-item-stats-hearts {
  display: inline-block;
}

.framework-item-stats-views {
  display: inline-block;
  float: right;
}

.framework-item-full {
  position: relative;
  display: inline-block;
  background-color: #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .framework-item-full {
    width: 95%;
  }
}

.framework-item-full-image {
  width: 100%;
  height: 615px;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
@media screen and (max-width: 768px) {
  .framework-item-full-image {
    display: none;
  }
}

.framework-item-full-about {
  margin-left: 20px;
  margin-right: 20px;
}

.framework-item-full-about-title {
  color: #435b73;
  font-weight: bold;
  font-size: 1.5em;
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.framework-item-full-about-hint {
  color: #435b73;
  font-size: 0.9em;
  font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}

.framework-item-full-about-tags {
  color: #c8c8c8;
  margin-bottom: 20px;
}

.framework-item-full-description {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #435b73;
}

.framework-item-full-links {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.framework-item-full-stats {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.framework-item-full-stats-hearts {
  display: inline-block;
}

.framework-item-full-stats-views {
  display: inline-block;
  float: right;
}

.github {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  width: 500px;
}

.github-title {
  color: #435b73;
}

.github-infos {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.github-repo-active {
  color: #2d912d;
}

.github-repo-inactive {
  color: #c80000;
}

.random-frameworks {
  margin-top: 65px;
  margin-bottom: 10px;
}

.random-frameworks-hint {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 2.5em;
  color: #435b73;
}

.random-frameworks-none {
  margin-left: 20px;
  margin-right: 20px;
  font-style: italic;
  color: #646464;
}

.flash {
  position: fixed;
  left: 20%;
  top: 105px;
  width: 50%;
  z-index: 3;
  word-wrap: break-word;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
}

.flash p {
  position: relative;
  margin: 10px;
  color: white;
}

.is-flash-error {
  background-color: #ff7575;
}

.is-flash-success {
  background-color: #32ca32;
}
